<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<title>Express Movies</title>
		<link rel="stylesheet" href="../public/styles.css" />
	</head>
	
	<body>
		<h1>Express Movies : le site des cinéphiles</h1>
		<div>
			<p>Etes-vous plutôt films ou séries ?</p>
		</div>	
	</body>
</html>