<!DOCTYPE html>
<html lang="fr">
	<% include ./partials/head %>
	<body>
		<% include ./partials/header %>
		<div class="central">
			<h1>Express Movies : le site des cinéphiles</h1>
			<div>
				<p>Etes-vous plutôt films ou séries ?</p>
			</div>
		</div>
		<footer>
			<!-- Pour inclure un partial -->
			<% include ./partials/footer %>
		</footer>
	</body>
</html>