<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Express Movies</title>
	<link rel="stylesheet" href="../public/styles.css" />
</head>

<body>
	<div class="central">
		<% include ./partials/header %>
		<h1>Détails</h1>
		<div>
			<!-- Langage de templating d'EJS -->
			<%= movieId %>
		</div>
	</div>
	<!-- Pour inclure un partial -->
	<% include ./partials/footer %>
</body>

</html>