<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Express Movies</title>
	<link rel="stylesheet" href="../public/styles.css" />
</head>

<body>
	<h1>Détails</h1>
	<div>
		<!-- Langage de templating d'EJS -->
		<%= movieId %>
	</div>
</body>

</html>