<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<title>Express Movies</title>
	<link rel="stylesheet" href="../public/styles.css" />
</head>

<body>
	<h1>Films cultes</h1>
	<div>
		<p>Test de movies</p>
	</div>
</body>

</html>